<!DOCTYPE html>
<html>

<head>
    <title>Tính xác suất tình yêu</title>
</head>

<body>
    <h1>Tính xác suất tình yêu</h1>
    <form action="/result" method="post">
        <label for="name1">Tên của bạn:</label><br>
        <input type="text" id="name1" name="name1" required><br><br>
        <label for="name2">Tên của người ấy:</label><br>
        <input type="text" id="name2" name="name2" required><br><br>
        <input type="submit" value="Tính xác suất">
    </form>
</body>

</html>